@media only screen and (max-width: 998px) {
  .grid-container {
    max-width: 100%;

    grid-template-columns: 1fr;
    grid-template-areas:
      "aside"
      "main";
  }
  .active-topics {
    .description {
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .site-logo {
      padding: 10px 10px;
    }
    .site-search {
      padding: 10px 10px;
    }
  }
  .footer-section {
    .container-flex {
      flex-direction: column;
      div {
        width: auto;
      }
    }
  }

  // .topic-list {
  //   .description {
  //     display: none;
  //   }
  // }
}
@media (min-width: 389px) and (max-width: 768px) {
  .site-search {
    width: 75vw;
  }
}
@media only screen and (max-width: 576px) {
  .nav-wrapper {
    padding: 0;
  }
  .dropdown {
    left: -20px;
  }
}
@media (max-width: 360px) {
  .nav-wrapper {
    padding: 0;
  }
  .dropdown {
    left: -20px;
  }
}

@media (min-width: 768px) {
  .site-search {
    form {
      input {
        width: 270px;
      }
    }
  }
}
